[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=ManiaDrive
Comment=Car game with physics
Exec=mania.bin
Icon=maniadrive
StartupWMClass=
Terminal=false
Type=Application
Categories=Game;Racing;
